/* Author Prajodh Aniyeri Valikat 
   CIS 5611 Fall 2020 - Individual Project  */

.small-padding-top	{
	padding-top: 10px;
}
.medium-padding-top {
	padding-top: 20px;
}
.small-padding-top-bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}
.list-item:nth-of-type(even) {
	color:yellow;
}
.list-item:nth-of-type(odd) {
	color:brown;
}
.large-padding-top {
	padding-top:30px;
}
.button-100px-width {
	width:100px;
}
.invissible {
	display:none;
}
.error {
	color:red;
}
.message {
	color:white;
}
.stick-bottom {
	position: fixed;
	bottom: 60px;
}
.bold {
	font-weight: 600;
}